<!doctype html>
<html lang="en" data-theme="minimal" data-topbar="light" data-bs-theme="light" data-layout-width="fluid" data-layout-position="fixed" data-sidebar="dark" data-layout="vertical" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">
<head>
    @await Html.PartialAsync("~/Views/Shared/_title_meta.cshtml")
    @await RenderSectionAsync("styles", required: false)
    @await Html.PartialAsync("~/Views/Shared/_head_css.cshtml")
</head>
<body>
    <!-- Begin page -->
    <div id="layout-wrapper">
        @await Html.PartialAsync("~/Views/Shared/_menu.cshtml")

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    @await Html.PartialAsync("~/Views/Shared/_page_title.cshtml")

                    @RenderBody()
                </div>
            </div>
            @await Html.PartialAsync("~/Views/Shared/_footer.cshtml")
        </div>

    </div>
    <!-- END layout-wrapper -->
    @await Html.PartialAsync("~/Views/Shared/_customizer.cshtml")

    @await Html.PartialAsync("~/Views/Shared/_vendor_scripts.cshtml")

    @await RenderSectionAsync("scripts", required: false)
    </body>
</html>