@model ResearchApps.Service.Vm.ItemTypeVm

@{
    ViewBag.Title = "Create Item Type";
    ViewBag.pTitle = "Create Item Type";
    Layout = "_Layout";
}

<div class="card">
    <div class="card-body">
        <form id="itemtype-form" asp-action="Create" method="post">
            @Html.AntiForgeryToken()
            <div class="row mb-3">
                <div class="col-lg-3">
                    <label asp-for="ItemTypeName"></label>
                </div>
                <div class="col-lg-9">
                    <input asp-for="ItemTypeName" class="form-control"/>
                </div>
            </div>
            <div class="text-end">
                <button type="button" class="btn btn-primary"
                        data-confirm
                        data-confirm-modal="createItemTypeModal"
                        data-confirm-form="#itemtype-form"
                        data-confirm-validate="true"
                        data-confirm-title="Are you sure?"
                        data-confirm-message="Are you sure you want to create this item type?">
                    Create
                </button>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script src="/assets/libs/jquery-validation/jquery.validate.min.js"></script>
    <script src="/assets/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script type="module">
        import { AppInit } from '/assets/js/app-init.js';
        AppInit.refresh();
    </script>
}
