@model ResearchApps.Service.Vm.WarehouseVm

@{
    ViewBag.Title = "Edit Warehouse";
    Layout = "_Layout";
}

@section styles {
    <link href="/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
}

<div class="card mt-3">
    <div class="card-header">
        <h4 class="card-title">Edit Warehouse</h4>
    </div>
    <div class="card-body">
        <form id="warehouse-form" asp-action="Edit" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="WhId" />
            <div class="row mb-3">
                <div class="col-lg-3"><label asp-for="WhName"></label></div>
                <div class="col-lg-9"><input asp-for="WhName" class="form-control" /></div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-3">
                    <label><strong>@Html.DisplayNameFor(m => m.StatusId)</strong></label>
                </div>
                <div class="col-lg-9">
                    <select asp-for="StatusId" class="form-control select2-ajax"
                            data-ajax-url="/api/Status/"
                            data-placeholder="Select Status"
                            data-id-field="statusId"
                            data-text-field="statusName"
                            data-selected-id="@Model.StatusId">
                        <option value="">Select Status</option>
                    </select>
                </div>
            </div>
            <div class="text-end">
                <button type="button" class="btn btn-primary"
                        data-confirm
                        data-confirm-modal="saveWarehouseModal"
                        data-confirm-form="#warehouse-form"
                        data-confirm-validate="true"
                        data-confirm-title="Are you sure?"
                        data-confirm-message="Are you sure you want to update this warehouse?">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script src="/assets/libs/select2/js/select2.min.js"></script>
    <script src="/assets/js/components/select2.js"></script>
    <script src="/assets/libs/jquery-validation/jquery.validate.min.js"></script>
    <script src="/assets/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready(function() {
            Select2Helper.initAll();
        });
    </script>
}

