@model ResearchApps.Service.Vm.ItemVm

@{
    ViewBag.Title = "Create Item";
    Layout = "_Layout";
}

@section styles {
    <link href="/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
}

@Html.AntiForgeryToken()

<div class="card mt-3">
    <div class="card-header">
        <h4 class="card-title">Create Item</h4>
    </div>
    <div class="card-body">
        <form id="item-form" asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <div class="col-lg-3"><label asp-for="ItemName"></label></div>
                <div class="col-lg-9"><input asp-for="ItemName" class="form-control" /></div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-3"><label asp-for="ItemTypeId"></label></div>
                <div class="col-lg-9">
                    <select asp-for="ItemTypeId" class="form-control select2-ajax"
                            data-ajax-url="/api/ItemTypes/"
                            data-placeholder="Select Item Type"
                            data-id-field="itemTypeId"
                            data-text-field="itemTypeName">
                        <option value="">Select Item Type</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-3"><label asp-for="ItemDeptId"></label></div>
                <div class="col-lg-9">
                    <select asp-for="ItemDeptId" class="form-control select2-ajax"
                            data-ajax-url="/api/ItemDepts/"
                            data-placeholder="Select Item Department"
                            data-id-field="itemDeptId"
                            data-text-field="itemDeptName">
                        <option value="">Select Item Department</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-3"><label asp-for="BufferStock"></label></div>
                <div class="col-lg-9"><input asp-for="BufferStock" class="form-control" type="number" step="0.01" /></div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-3"><label asp-for="UnitId"></label></div>
                <div class="col-lg-9">
                    <select asp-for="UnitId" class="form-control select2-ajax"
                            data-ajax-url="/api/Units/"
                            data-placeholder="Select Unit"
                            data-id-field="unitId"
                            data-text-field="unitName">
                        <option value="">Select Unit</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-3"><label asp-for="PurchasePrice"></label></div>
                <div class="col-lg-9"><input asp-for="PurchasePrice" class="form-control" type="number" step="0.01" /></div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-3"><label asp-for="SalesPrice"></label></div>
                <div class="col-lg-9"><input asp-for="SalesPrice" class="form-control" type="number" step="0.01" /></div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-3"><label asp-for="CostPrice"></label></div>
                <div class="col-lg-9"><input asp-for="CostPrice" class="form-control" type="number" step="0.01" /></div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-3"><label asp-for="Image"></label></div>
                <div class="col-lg-9"><input asp-for="Image" class="form-control" type="file" accept="image/*" /></div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-3"><label asp-for="Notes"></label></div>
                <div class="col-lg-9"><textarea asp-for="Notes" class="form-control"></textarea></div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-3">
                    <label><strong>@Html.DisplayNameFor(m => m.StatusId)</strong></label>
                </div>
                <div class="col-lg-9">
                    <select asp-for="StatusId" class="form-control"
                            data-select2
                            data-url="/api/Status/"
                            data-placeholder="Select Status"
                            data-id-field="statusId"
                            data-text-field="statusName">
                        <option value="">Select Status</option>
                    </select>
                </div>
            </div>
            <div class="text-end">
                <button type="button" class="btn btn-primary"
                        data-confirm
                        data-confirm-modal="createItemModal"
                        data-confirm-form="#item-form"
                        data-confirm-validate="true"
                        data-confirm-title="Are you sure?"
                        data-confirm-message="Are you sure you want to create this item?">
                    Create
                </button>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script src="/assets/libs/select2/js/select2.min.js"></script>
    <script src="/assets/js/components/select2.js"></script>
    <script src="/assets/libs/jquery-validation/jquery.validate.min.js"></script>
    <script src="/assets/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready(function() {
            Select2Helper.initAll();
        });
    </script>
}

